{
  "crawlers": {
    "ruliweb_user_hotdeal": {
      "url_list": ["https://bbs.ruliweb.com/market/board/1020?view=thumbnail&page=1"],
      "crawler_name": "RuliwebCrawler",
      "description": "루리웹 유저 예판 핫딜 뽐뿌 게시판",
      "enabled": true
    },
    "ppomppu_board": {
      "url_list": ["https://www.ppomppu.co.kr/zboard/zboard.php?id=ppomppu"],
      "crawler_name": "PpomppuCrawler",
      "description": "뽐뿌 뽐뿌게시판",
      "enabled": true
    },
    "ppomppu_foreign": {
      "url_list": ["https://www.ppomppu.co.kr/zboard/zboard.php?id=ppomppu4"],
      "crawler_name": "PpomppuCrawler",
      "description": "뽐뿌 해외뽐뿌게시판",
      "enabled": true
    },
    "clien_jirum": {
      "url_list": ["https://www.clien.net/service/board/jirum"],
      "crawler_name": "ClienCrawler",
      "description": "클리앙 알뜰구매 게시판",
      "enabled": true
    },
    "coolenjoy_jirum_rss": {
      "url_list": ["https://coolenjoy.net/rss.php?bo_table=jirum"],
      "crawler_name": "CoolenjoyRSSCrawler",
      "description": "쿨앤조이 알뜰구매 게시판",
      "enabled": true
    },
    "quasarzone_saleinfo": {
      "url_list": ["https://quasarzone.com/bbs/qb_saleinfo"],
      "crawler_name": "QuasarzoneCrawler",
      "description": "퀘이서존 지름/할인정보 게시판",
      "enabled": true
    },
    "arcalive_hotdeal": {
      "url_list": ["https://arca.live/b/hotdeal"],
      "crawler_name": "ArcaLiveCrawler",
      "description": "아카라이브 핫딜 게시판",
      "enabled": true
    }
  },
  "bots": {
    "telegram": {
      "bot_name": "TelegramBot",
      "description": "Telegram Bot",
      "kwargs": {
        "token": "TELEGRAM_API_TOKEN",
        "target": "CHAT_ID_OR_CHANNEL_NAME"
      },
      "enabled": true
    }
  }
}
